@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jsMath-cmr10";
  src: url("/fonts/jsMath-cmr10.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/fonts/Poppins-Medium.ttf");
}

@layer base{
  body{
    @apply bg-background text-text text-sm font-poppins
  }

  button{
    @apply uppercase text-background bg-text text-sm font-poppins pl-4 pr-3 py-2
  }
}

.title {
  @apply font-jsMath text-[100px] leading-[43px] md:text-[200px] md:leading-[85px]
}

.navbaritem{
  @apply font-poppins text-sm
}